@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-global-primary: #1A1A1A;
    --color-global-primary-highlight: #FFFFFF;
    --color-global-primary-shadow: #000000;
    --color-global-secondary: #cb7533;
    --color-global-secondary-highlight: #FFFFFF;
    --color-global-secondary-shadow: #8a4b1d;
    --color-global-gray: #373737;
    --color-global-gray-highlight: #cacaca;

    --color-wedding-primary-highlight-2: #EDF6F8;
    --color-wedding-primary-highlight: #A8C5C9;
    --color-wedding-primary: #6D8CA3;
    --color-wedding-primary-shadow: #45525F;
    --color-wedding-secondary-highlight: #F5E4DF;
    --color-wedding-secondary: #E2B2A0;
    --color-wedding-secondary-shadow: #BD8062;
    --color-wedding-gray-highlight: #FBFEFF;
    --color-wedding-gray: #E5ECEF;
  }
}